# Build files
build/

# Visual Studio Code
.vscode/

# Save game data
data/savegame.txt

# Executables
*.exe
*.obj
*.pdb

# Workspace metadata
.freebuff/

# Standalone distribution package
FreshmanJourney-Standalone/
FreshmanJourney-Standalone.zip
